@model NNStore.Context.Brand

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="section-content padding-y">
    <div class="card mx-auto" style="max-width:3500px; margin-left:50px;">
        <article class="card-body">
            <div class="content-wrapper">
                <header class="mb-4"><h4 class="text-danger"></h4></header>
                <div class="form-horizontal" style="width :100%">
                    <h3>Bạn có muốn xoá Thương hiệu này không ?</h3>
                    <div>
                        <h4>Thông tin thương hiệu</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.Name)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Name)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Img)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Img)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Slug)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Slug)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ShortDetail)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ShortDetail)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ShowOnHomePage)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ShowOnHomePage)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.DisplayOrder)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.DisplayOrder)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CreatedOnUtc)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CreatedOnUtc)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.UpdateUtc)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UpdateUtc)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Deleted)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Deleted)
                            </dd>

                        </dl>

                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Xoá" class="btn btn-default" />
                                <button>@Html.ActionLink("Quay lại", "Index")</button>

                            </div>
                        }
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>