@model NNStore.Context.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="section-content padding-y">
    <div class="card mx-auto" style="max-width:5500px; margin-left:50px;">
        <article class="card-body">
            <div class="content-wrapper">
                <header class="mb-4"><h4 class="text-danger">Trang quản lý người dùng</h4></header>
                <div class="form-group">
                    <div>
                        <h4>Trang thông tin người dùng</h4>
                        <hr />
                        <dl class="dl-horizontal">
                            @*<dt>
                                @Html.DisplayNameFor(model => model.ConfirmPasswords)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ConfirmPasswords)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Agree)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Agree)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Remember)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Remember)
                            </dd>*@

                            <dt>
                                @Html.DisplayNameFor(model => model.FullName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.FullName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.UserName)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UserName)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Password)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Password)
                            </dd>

                            @*<dt>
                                @Html.DisplayNameFor(model => model.Img)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Img)
                            </dd>*@

                            <dt>
                                @Html.DisplayNameFor(model => model.Email)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Email)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Gender)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Gender)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Phone)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Phone)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Address)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Address)
                            </dd>

                            @*<dt>
                                @Html.DisplayNameFor(model => model.Roles)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Roles)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CountError)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CountError)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CreatedBy)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CreatedBy)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.CreatedAt)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.CreatedAt)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.UpdatedBy)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UpdatedBy)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.UpdatedAt)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.UpdatedAt)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.Stutus)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.Stutus)
                            </dd>*@

                        </dl>
                    </div>
                    <p>
                        <button> @Html.ActionLink("Quay lại", "Index")</button>

                    </p>
                </div>
            </div>
        </article>
    </div>
</section>